<h1 mat-dialog-title>Register</h1>
<div mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input matInput [(ngModel)]="data.name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="data.telefone" formControlName="telefone">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="data.animal" formControlName="animal">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>