<h1 mat-dialog-title>Register</h1>
<div mat-dialog-content [formGroup]="form" class="mat-typography">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" [(ngModel)]="data.name" formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="animal" [(ngModel)]="data.animal" formControlName="animal">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="telefone" [(ngModel)]="data.telefone" formControlName="telefone">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>