<mat-toolbar color="primary" class="mat-elevation-z6">
  <i class="material-icons" style="margin-right: 2px; margin-left: -0.3em; font-size: 50px;">
    dashboard
  </i>


  <button mat-icon-button color="" (click)="getUsers()" matTooltip="List all users">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  </button>

  <button mat-icon-button color="" (click)="openDialog()" matTooltip="Register User">
    <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
  </button>

  <span class="space-material"></span>


  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name for Search" [(ngModel)]="searchWord" value="Sushi">
  </mat-form-field>
  <button mat-icon-button color="" (click)="searchUser('Philip')" matTooltip="Register User">
    <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
  </button>
  <button mat-icon-button color="" (click)="getUsers()" matTooltip="Reload table users">
    <mat-icon aria-hidden="false" aria-label="Example home icon">undo</mat-icon>
  </button>

  <!-- <button mat-icon-button color="" (click)="searchUser('Philip')">
    <mat-icon aria-hidden="false" aria-label="Example home icon" color="primary" matTooltip="Search user"
      [matTooltipPosition]="positionRight.value">search </mat-icon>
  </button> -->
</mat-toolbar>


<div class="jumbotron">
  <h1 class="display-4" style="color: #3F51B5;">Welcome to the user management system</h1>
  <p class="lead" style="color: #3F51B5;">Use the buttons to navigate between options.</p>
</div>

<!-- Table Content -->
<div class="mat-elevation-z8" style="margin: 1em;">
  <table mat-table [dataSource]="dataSource">

    <!-- _id Column -->
    <ng-container matColumnDef="_id" sticky>
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>

    <!-- userName Column -->
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
    </ng-container>

    <!-- userDescription Column -->
    <ng-container matColumnDef="userDescription">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.userDescription}} </td>
    </ng-container>

    <!-- userPrice Column -->
    <ng-container matColumnDef="userPrice">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.userPrice}} </td>
    </ng-container>

    <!-- userLastname Column -->
    <ng-container matColumnDef="userLastname">
      <th mat-header-cell *matHeaderCellDef> Lastname </th>
      <td mat-cell *matCellDef="let element"> {{element.userLastname}} </td>
    </ng-container>


    <ng-container matColumnDef="action" stickyEnd>
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="editDialog(element)" matTooltip="Edit User"
          [matTooltipPosition]="positionLeft.value">
          <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteUser(element._id)" matTooltip="Delete User"
          [matTooltipPosition]="positionRight.value">
          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
</div>
